<div *ngIf="error; else userTemplate">
    <app-not-found></app-not-found>
</div>

<ng-template #userTemplate>
    <section class="text-gray-300">
        <div class="container px-5 py-5 mx-auto flex flex-col items-center">
            <div class="w-5/6 bg-gray-800 rounded-lg p-8 mb-5 flex flex-col items-start gap-4">
                <div class="w-full flex flex-row items-start gap-8">
                    <div class="flex flex-row items-center gap-6">
                        <svg width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM12 20.5C13.784 20.5 15.4397 19.9504 16.8069 19.0112C17.4108 18.5964 17.6688 17.8062 17.3178 17.1632C16.59 15.8303 15.0902 15 11.9999 15C8.90969 15 7.40997 15.8302 6.68214 17.1632C6.33105 17.8062 6.5891 18.5963 7.19296 19.0111C8.56018 19.9503 10.2159 20.5 12 20.5Z" fill="#111827"></path>
                        </g></svg>
                        <h1 class="text-5xl font-bold mb-4">{{ user?.username }}</h1>
                    </div>
                    <button *ngIf="(this.currentUser && this.user?.id === this.currentUser.id) || this.currentUser?.isAdmin" class="bg-red-400 hover:bg-red-500 text-gray-950 py-2 px-4 ml-auto rounded" (click)="deleteUser()">Löschen</button>
                </div>
                <p class="text-gray-400 text-sm">Mitglied seit {{ user?.createdAt | date:'dd.MM.yyyy' }}</p>
            </div>
            <app-user-questions *ngIf="user" [user] = "user" class="w-5/6"></app-user-questions>
        </div>
    </section>
</ng-template>
