<header class="text-gray-400 backdrop-blur-md body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a routerLink="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Fullstack Projekt</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
      <a routerLink="/suche" class="mr-2 py-2 px-3 hover:text-white hover:bg-gray-700 rounded-md cursor-pointer transition">Suche</a>
      <a *ngIf="isLoggedIn" routerLink="/frage-stellen" class="mr-2 py-2 px-3 hover:text-white hover:bg-gray-700 rounded-md cursor-pointer transition">Frage stellen</a>
    </nav>
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <a [routerLink]="['/user', user?.id]" class="mr-2 py-2 px-3 bg-gray-800 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md text-base mt-4 md:mt-0 transition flex flex-row gap-2 items-center">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM12 20.5C13.784 20.5 15.4397 19.9504 16.8069 19.0112C17.4108 18.5964 17.6688 17.8062 17.3178 17.1632C16.59 15.8303 15.0902 15 11.9999 15C8.90969 15 7.40997 15.8302 6.68214 17.1632C6.33105 17.8062 6.5891 18.5963 7.19296 19.0111C8.56018 19.9503 10.2159 20.5 12 20.5Z" fill="#111827"></path>
        </g></svg>
        <span>{{ user?.username }}</span>
      </a>
      <button (click)="logout()" class="text-gray-950 bg-yellow-500 hover:bg-red-400 py-2 px-3 focus:outline-none rounded-md text-base mt-4 md:mt-0 transition">Abmelden</button>
    </ng-container>
    <ng-template #loggedOut>
      <button routerLink="/anmelden" class="mr-2 py-2 px-3 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md text-base mt-4 md:mt-0 transition">Anmelden</button>
      <button routerLink="/registrieren" class="text-gray-950 bg-yellow-500 hover:bg-yellow-600 py-2 px-3 focus:outline-none rounded-md text-base mt-4 md:mt-0 transition">Registrieren</button>
    </ng-template>
  </div>
</header>
