<footer class="fixed bottom-0 bg-gray-800 w-full border-t-2 p-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between justify-center mt-auto z-10">
      <span class="text-sm text-gray-500 sm:text-center sm:mt-0">© 2024
        <a routerLink="/" class="hover:underline">Fullstack</a>
        <p>Alle Rechte vorbehalten.</p>
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
        <li>
            <a routerLink="/datenschutzerklärung" class="hover:underline me-4 md:me-6">Datenschutzerklärung</a>
        </li>
        <li>
            <a routerLink="/kontakt" class="hover:underline">Kontakt</a>
        </li>
      </ul>
    </div>
</footer>
<router-outlet></router-outlet>
