<section class="text-gray-300 body-font min-h-screen pb-4">
    <div class="container px-5 mx-auto flex flex-col items-center flex-wrap overflow-y-auto">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/3 bg-gray-800 bg-opacity-50 rounded-lg p-8 mt-10 md:mt-0 mx-auto">
                <h2 class="text-white text-lg font-medium title-font mb-3 text-center">Datenschutzerklärung 1/2</h2>
                <h3>1. Allgemeine Hinweise:</h3>
                <p>Der Schutz Ihrer persönlichen Daten ist uns sehr wichtig. Diese Datenschutzerklärung informiert Sie darüber, welche Daten wir erheben, wie wir sie verwenden und welche Rechte Sie in Bezug auf Ihre Daten haben.</p>
                <h3>2. Verantwortliche Stelle:</h3>
                <p>Verantwortlich für die Datenverarbeitung auf dieser Website ist: Fullstack E-Mail: support&commat;example.com</p>
                <h3>3. Erhebung und Speicherung personenbezogener Daten:</h3>
                <p>Wir erheben und speichern personenbezogene Daten nur, wenn Sie uns diese freiwillig zur Verfügung stellen, z.B. durch das Ausfüllen eines Kontaktformulars oder die Registrierung auf unserer Website.</p>
                <h3>4. Verwendung der Daten:</h3>
                <p>Die von Ihnen zur Verfügung gestellten Daten verwenden wir ausschließlich zu dem Zweck, zu dem Sie uns diese Daten überlassen haben, z.B. zur Bearbeitung Ihrer Anfragen oder zur Abwicklung von Verträgen.</p>
            </div>
            <div class="w-full lg:w-1/3 bg-gray-800 bg-opacity-50 rounded-lg p-8 mt-10 md:mt-0 mx-auto">
                <h2 class="text-white text-lg font-medium title-font mb-3 text-center">Datenschutzerklärung 2/2</h2>
                <h3>5. Weitergabe der Daten:</h3>
                <p>Eine Weitergabe Ihrer Daten an Dritte erfolgt nur, wenn dies zur Erfüllung des Vertrags erforderlich ist oder Sie ausdrücklich eingewilligt haben.</p>
                <h3>6. Ihre Rechte:</h3>
                <p>Sie haben das Recht, jederzeit Auskunft über die von uns gespeicherten Daten zu erhalten, diese zu berichtigen, zu löschen oder die Verarbeitung einzuschränken. Bitte kontaktieren Sie uns hierzu unter der oben angegebenen E-Mail-Adresse.</p>
                <h3>7. Änderungen der Datenschutzerklärung:</h3>
                <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die aktuelle Version finden Sie stets auf unserer Website.</p>
            </div>
        </div>
    </div>
</section>
