<section class="text-gray-300 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col items-center">
        <div class="w-full lg:w-1/3 bg-gray-800 bg-opacity-50 rounded-lg p-8 mt-10 md:mt-0 mx-auto">
            <h2 class="text-white text-lg font-medium title-font mb-3 text-center">Kontakt</h2>
            <h3 class="text-center text-white text-md font-medium title-font mb-2">Authors:</h3>
            <p class="text-center">Adrian Lösch</p>
            <p class="text-center">Lukas Klassen</p>
            <p class="text-center">Eric Demuth</p>
            <p class="text-xs mt-3 text-gray-400">Falls du bei der Webseite Fehler siehst, kannst du uns hier unten kontakieren</p>
        </div>
        <p class="mt-5 text-sm">Hier kannst du uns: <a routerLink="/registrieren" class="text-yellow-500 hover:underline cursor-pointer">Kontaktieren</a></p>
    </div>
</section>
