<div *ngIf="error; else questionTemplate">
    <app-not-found></app-not-found>
</div>

<ng-template #questionTemplate>
    <section class="text-gray-300">
        <div class="container px-5 py-5 mx-auto flex flex-col items-center">
            <div class="w-5/6 bg-gray-800 rounded-lg p-8 mb-5 flex flex-col items-center gap-4">
                <div class="w-full flex flex-col">
                    <div class="w-full flex flex-row items-start justify-between gap-8">
                        <h1 class="text-2xl font-bold text- mb-4">{{ question?.title }}</h1>
                        <button *ngIf="currentUser && creatorUser?.id === currentUser.id" class="bg-red-400 text-gray-950 px-4 py-2 rounded-md hover:bg-red-500" (click)="deleteQuestion()">Löschen</button>
                    </div>
                    <p class="mb-4">{{ question?.body }}</p>
                </div>
                <div *ngIf="creatorUser" class="w-full flex flex-row items-end justify-between gap-8">
                    <div class="flex flex-col items-start gap-1">
                        <p class="text-gray-400 text-sm">gefragt am {{question?.createdAt | date:'dd.MM.yyyy'}} um {{question?.createdAt | date:'HH:mm'}}</p>
                        <p *ngIf="question?.createdAt !== question?.updatedAt" class="text-gray-400 text-sm">zuletzt bearbeitet am {{question?.updatedAt | date:'dd.MM.yyyy'}} um {{question?.updatedAt | date:'HH:mm'}}</p>
                    </div>
                    <div class="min-w-44 bg-gray-700 rounded-md px-2 py-1 mb-1 flex flex-row items-center justify-start gap-3">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9ZM12 20.5C13.784 20.5 15.4397 19.9504 16.8069 19.0112C17.4108 18.5964 17.6688 17.8062 17.3178 17.1632C16.59 15.8303 15.0902 15 11.9999 15C8.90969 15 7.40997 15.8302 6.68214 17.1632C6.33105 17.8062 6.5891 18.5963 7.19296 19.0111C8.56018 19.9503 10.2159 20.5 12 20.5Z" fill="#111827"></path>
                        </g></svg>
                        <a [routerLink]="['/user', creatorUser!.id]" class="text-yellow-500 hover:underline cursor-pointer mr-2">{{ creatorUser!.username }}</a>
                    </div>
                </div>
            </div>
            <app-question-answers *ngIf="question" [question] = "question" class="w-5/6"></app-question-answers>
        </div>
    </section>
</ng-template>
